﻿@model IEnumerable<WebShowProduct_TDTC.Models.HomeAnswer>

<table class="table table-borded table-hover table-sm">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Tiêu đề")
            </th>
            <th>
                @Html.DisplayName("Trả lời")
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <th>
                    @Html.DisplayFor(modelItem => item.Title)
                </th>
                <td>
                    @Html.DisplayFor(modelItem => item.Answer)
                </td>


                <td>
                    <div class="btn-group" role="group">
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }, htmlAttributes: new { data_modal = "", @class = "btn btn-warning" })
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
