﻿@model WebShowProduct_TDTC.Models.HomeQuestion
@using WebShowProduct_TDTC.Help
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/admin2/Views/Shared/_MyAdminLayout.cshtml";
}

@*<h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Answer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuestionID)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Answer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuestionID)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Id })
            </td>
        </tr>
    }

    </table>*@

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                Câu trả lời
            </div>
            <div class="card-body">
                <div class="bs-example" style="text-align:right; padding-bottom:10px;">
                    <div class="btn-group">
                        @Html.DropDownListFor(model => model.Id, (SelectList)ViewBag.Question,
                                                                        new { @class = "form-control", @id = "HomeQuestion" })
                    </div>

                </div>
                <div class="table-responsive">
                    <div id="getAnswer"></div>
                </div>
            </div>
        </div>
    </div>
</div>
@section _Footer
{
    <script>
        $(document).ready(function () {
            function getAnswer() {
                var QuestionId = $('#HomeQuestion').val();
                $.ajax({
                    url: '@Url.Action("getAnswer", "HomeAnswer")',
                    type: "GET",
                    data: { id: QuestionId },
                    success: function (data) {
                        $("#getAnswer").html(data);
                    },
                    error: function (data) {
                        alert("something went wrong.");
                    }
                });
            }
            getAnswer();
            $("#HomeQuestion").change(function () {
                getAnswer();
            })
        });
    </script>
}