﻿@model IEnumerable<WebShowProduct_TDTC.Models.menu>
@foreach (var item in Model)
{
    if (item.Meta == "trang-chu")
    {
        <li class="nav-item active"><a class="nav-link" href="/@item.Meta">@item.Name<span class="sr-only">(current)</span></a></li>
    }
    else if (item.Meta == "san-pham")
    {
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                @item.Name
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <div>
                    @{Html.RenderAction("getCategory", "Default");}
                </div>

                <div class="dropdown-divider"></div>
            </div>
        </li>
    }
    else if (item.Meta != "ho-tro")
    {
        <li class="nav-item"><a href="/@item.Meta" class="nav-link">@item.Name</a></li>
    }
    else
    {
<li class="nav-item"><a href="/@item.Meta" class="nav-link">@item.Name</a></li>
        <div>
            @{Html.ActionLink("Index", "Contact");}
        </div>

    }
}
