﻿.description{
    margin-top: 15px;
}
.container{
    text-align: center;
}
.img
{
    margin-top:15px;
    margin-bottom: 15px;
}
.row{

	padding: 10px;


}


.card{
border : 1px solid black ;

padding-top: 5px;
margin: 5px;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;

}
.card{
    color: black !important;
}
p {
   color : white; 
}


.bg-dark{
    background-color: rgb(19, 19, 19) !important;
}
.navbar-brand {
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 28px;
}
.narbar-dark .navbar-nav .nar-link{
    font-weight: 700;
    text-transform: uppercase;
}
.navbar-dark .navbar-nav .nav-item{
    margin: 0 15px;
    font-size: 18px;
}
/* Footer */
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}
#footer {
    background: rgb(56, 56, 56) !important;
}
#footer h5{
	padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:#ffffff;
}
#footer a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    --webkit-text-decoration-skip: objects;
}
#footer ul.social li{
	padding: 3px 0;
}
#footer ul.social li a i {
    margin-right: 5px;
	font-size:25px;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.social li:hover a i {
	font-size:30px;
	margin-top:-10px;
}
#footer ul.social li a,
#footer ul.quick-links li a{
	color:#ffffff;
}
#footer ul.social li a:hover{
	color:#eeeeee;
}
#footer ul.quick-links li{
	padding: 3px 0;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.quick-links li:hover{
	padding: 3px 0;
	margin-left:5px;
	font-weight:700;
}
#footer ul.quick-links li a i{
	margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
    font-weight: 700;
}



@media (max-width:767px){
	#footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
}
}
.carousel-indicators{
    left: 0;
    top: auto;
    bottom: -50px;
}
.carousel-indicators li{
    background: rgb(8, 8, 8);
    border-radius: 80%;
    width: 20px;
    height: 1px;
}
.carousel-indicators .active{
    background: blue;
}
.textarea h2{
    font-family: sans-serif;
    margin: 100px auto;
    text-align: center;
    font-size: 40px;
    max-width: 600px;
    position: relative;
}
.textarea h2:before{
    content: "";
    display: block;
    width: 120px;
    height: 2px;
    position: absolute;
    background: #000;
    left: 0;
    top:50%;
}
.textarea h2:after{
    content: "";
    display: block;
    width: 120px;
    height: 2px;
    position: absolute;
    background: #000;
    right: 0;
    top:50%;
}
.banner{
    height: 100px;
    background: rgb(19,19,19);
}
.tdtkld {
    text-align: center;
    height: 180px;
    background: rgb(19,19,19);
}
    .tdtkld h1, h2 {
        text-align: center;
        font-size: 50px;
    }

.tdtkld h1 .d {
font-weight: bold;
font-size: 58px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
           /* margin-top: 100px;*/
}

.tdtkld h1, h2 {
text-align: center;
font-size: 50px;
}
.tdtkld h1 .d {
font-weight: bold;
font-size: 58px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.tdtkld h1 {
/* margin-top: 100px;*/
color: white;
}
.tdtkld h2 {
color: #ffffff;
} h1 {
/* margin-top: 100px;*/
color: white;
}

    .tdtkld h2 {
        color: #ffffff;
    }
.tdtkld h2 .a {
    color: rgb(219, 55, 55);
}
.tdtkld h2 .b {
    color: rgb(44, 179, 77);
}
.tdtkld h2 .c {
    color: rgb(56, 56, 221);
}

.how-section1 , .how-section2 , .how-section3, .how-section4{
    padding: 3%;
    background-color: #a75ad4;
}
.how-section2{
    background-color: #e6d439;
}
.how-section3{
    background-color: rgb(121, 255, 132);
}
.how-section4{
    background-color: rgb(240, 85, 85);
}
.how-section1 h4{
    color: #ffffff;
    font-weight: bold;
    font-size: 34px;
}
.how-section2 h4{
    color: #ffffff;
    font-weight: bold;
    font-size: 34px;
}
.how-section3 h4{
    color: #ffffff;
    font-weight: bold;
    font-size: 34px;
    margin-top: 100px;
}
.how-section4 h4{
    color: #ffffff;
    font-weight: bold;
    font-size: 34px;
    margin-top: 100px;
}
.how-section1 p{
    color: white;
    font-size: 20px;
}
.how-section1 ul li{
    color: #ffffff;
    font-size: 20px;
}
.how-section2 p{
    color: white;
    font-size: 20px;
}
.how-section2 ul li{
    color: #ffffff;
    font-size: 20px;
}
.how-section3 p{
    color: white;
    font-size: 20px;
}
.how-section3 ul li{
    color: #ffffff;
    font-size: 18px;
}
.how-section4 p{
    color: white;
    font-size: 20px;
}
.how-section4 ul li{
    color: #ffffff;
    font-size: 20px;
}
.how-section1 .row
{
    margin-top:5%;
}
.how-img 
{
    text-align: center;
}
.how-img img{
    width: 80%;
}

.how-section1 button{
    width: 180px;
    height: 40px;
    background: none;
    margin: 10px;
    border-radius: 20px;
    border: 1px white solid;
    font-size: 18px;
}
.how-section1 button:hover{
    width: 210px;
    height: 45px;
    transition: 0.5s;
    background-color: white;
}
.how-section2 button{
    width: 180px;
    height: 40px;
    background: none;
    margin: 10px;
    border-radius: 20px;
    border: 1px white solid;
    font-size: 18px;
}
.how-section2 button:hover{
    width: 210px;
    height: 45px;
    transition: 0.5s;
    background-color: white;
}

.how-section3 button{
    width: 180px;
    height: 40px;
    background: none;
    margin: 10px;
    border-radius: 20px;
    border: 1px white solid;
    font-size: 18px;
}
.how-section3 button:hover{
    width: 210px;
    height: 45px;
    transition: 0.5s;
    background-color: white;
}

.how-section4 button{
    width: 180px;
    height: 40px;
    background: none;
    margin: 10px;
    border-radius: 20px;
    border: 1px white solid;
    font-size: 18px;
}
.how-section4 button:hover{
    width: 210px;
    height: 45px;
    transition: 0.5s;
    background-color: white;
}
.contentA{
    text-align: center;
    color: white;
    padding: 2%;
    background-image: linear-gradient(52deg, rgba(163, 163, 163, 0.09) 0%, rgba(163, 163, 163, 0.09) 33.3%,rgba(100, 100, 100, 0.09) 33.3%, rgba(100, 100, 100, 0.09) 66.6%,rgba(162, 162, 162, 0.09) 66.6%, rgba(162, 162, 162, 0.09) 99%),linear-gradient(258deg, rgba(193, 193, 193, 0.06) 0%, rgba(193, 193, 193, 0.06) 33.3%,rgba(169, 169, 169, 0.06) 33.3%, rgba(169, 169, 169, 0.06) 66.6%,rgba(92, 92, 92, 0.06) 66.6%, rgba(92, 92, 92, 0.06) 99%),linear-gradient(129deg, rgba(45, 45, 45, 0.03) 0%, rgba(45, 45, 45, 0.03) 33.3%,rgba(223, 223, 223, 0.03) 33.3%, rgba(223, 223, 223, 0.03) 66.6%,rgba(173, 173, 173, 0.03) 66.6%, rgba(173, 173, 173, 0.03) 99%),linear-gradient(280deg, rgba(226, 226, 226, 0.06) 0%, rgba(226, 226, 226, 0.06) 33.3%,rgba(81, 81, 81, 0.06) 33.3%, rgba(81, 81, 81, 0.06) 66.6%,rgba(186, 186, 186, 0.06) 66.6%, rgba(186, 186, 186, 0.06) 99%),linear-gradient(85deg, rgba(225, 225, 225, 0.04) 0%, rgba(225, 225, 225, 0.04) 33.3%,rgba(95, 95, 95, 0.04) 33.3%, rgba(95, 95, 95, 0.04) 66.6%,rgba(39, 39, 39, 0.04) 66.6%, rgba(39, 39, 39, 0.04) 99%),linear-gradient(128deg, rgba(184, 184, 184, 0.06) 0%, rgba(184, 184, 184, 0.06) 33.3%,rgba(0, 0, 0, 0.06) 33.3%, rgba(0, 0, 0, 0.06) 66.6%,rgba(140, 140, 140, 0.06) 66.6%, rgba(140, 140, 140, 0.06) 99.89999999999999%),linear-gradient(323deg, rgba(40, 40, 40, 0.07) 0%, rgba(40, 40, 40, 0.07) 33.3%,rgba(214, 214, 214, 0.07) 33.3%, rgba(214, 214, 214, 0.07) 66.6%,rgba(190, 190, 190, 0.07) 66.6%, rgba(190, 190, 190, 0.07) 99.89999999999999%),linear-gradient(61deg, rgba(230, 230, 230, 0) 0%, rgba(230, 230, 230, 0) 33.3%,rgba(241, 241, 241, 0) 33.3%, rgba(241, 241, 241, 0) 66.6%,rgba(55, 55, 55, 0) 66.6%, rgba(55, 55, 55, 0) 99%),linear-gradient(0deg, #2625e3,#0bbaef);
    margin-top: 100px;
}
.contentA .col-md-6{
    padding: 30px;
}
.contentA .row{
    text-align: left;
    margin: 0;
}



/*trang lien he*/
.contact {
    margin: 100px 0;
    font-size: 20px;
    
}
.contact p,ul li{
    text-align:left;
}

    .contact h3 {
        text-align: center;
        font-weight: bold;
        margin-bottom: 30px;
        color: #0bbaef;
    }

    .contact p {
        font-weight: bold;
        color: black;
    }

    .contact input, button, textarea {
        margin: 10px 30px;
    }

    .contact textarea {
        border-radius: 25px;
    }

    .contact input[type="text"] {
        width: 470px;
        height: 40px;
        border-radius: 25px;
    }

    .contact button[type="button"] {
        width: 470px;
        height: 45px;
        background-color: #0bbaef;
        border-radius: 25px;
        border: none;
    }

        .contact button[type="button"]:hover {
            background-color: #61cef0;
            transition: 0.4s;
        }
/*trang lien he*/



/*.footer-dark {
    padding: 50px 0;
    color: #f0f9ff;
    background-color: #282d32;
}

    .footer-dark h3 {
        margin-top: 0;
        margin-bottom: 12px;
        font-weight: bold;
        font-size: 16px;
    }

    .footer-dark ul {
        padding: 0;
        list-style: none;
        line-height: 1.6;
        font-size: 14px;
        margin-bottom: 0;
    }

        .footer-dark ul a {
            color: inherit;
            text-decoration: none;
            opacity: 0.6;
        }

            .footer-dark ul a:hover {
                opacity: 0.8;
            }

@media (max-width:767px) {
    .footer-dark .item:not(.social) {
        text-align: center;
        padding-bottom: 20px;
    }
}

.footer-dark .item.text {
    margin-bottom: 36px;
}

@media (max-width:767px) {
    .footer-dark .item.text {
        margin-bottom: 0;
    }
}

.footer-dark .item.text p {
    opacity: 0.6;
    margin-bottom: 0;
}

.footer-dark .item.social {
    text-align: center;
}

@media (max-width:991px) {
    .footer-dark .item.social {
        text-align: center;
        margin-top: 20px;
    }
}

.footer-dark .item.social > a {
    font-size: 20px;
    width: 36px;
    height: 36px;
    line-height: 36px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0 0 0 1px rgba(255,255,255,0.4);
    margin: 0 8px;
    color: #fff;
    opacity: 0.75;
}

    .footer-dark .item.social > a:hover {
        opacity: 0.9;
    }

.footer-dark .copyright {
    text-align: center;
    padding-top: 24px;
    opacity: 0.3;
    font-size: 13px;
    margin-bottom: 0;
}
*/

.counters .counter {
    font-size: 45px;
    margin: 10px 0;
}

.counters {
    padding: 40px 20px;
    margin-bottom: 80px;
}

    .counters .container div {
        margin-top: 20px;
    }

    .counters .container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 30px;
        text-align: center;
    }

    .counters i {
        color: lightskyblue;
        margin-bottom: 5px;
    }

@media (max-width: 700px) {
    .counters .container {
        grid-template-columns: repeat(2, 1fr);
    }

        .counters .container > div:nth-of-type(1),
        .counters .container > div:nth-of-type(2) {
            border-bottom: 1px lightskyblue solid;
            padding-bottom: 20px;
        }
}

.container .row .col-md-3 img {
    width: 90%;
    border-radius: 10px;
}

.container .row .col-md-3 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.col-md-3 img {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.col-md-3 h5 {
    margin-top: 10px;
    color: #0bbaef;
}

/*Phan content*/
.box-content {
    margin-top: 90px;
 
    padding: 5px 10px;
}
.box-content p{
    color:black;
}

    .box-content .col-md-6 {
        font-size: 19px;
        text-align: left;
    }

        .box-content .col-md-6 img {
            border-radius: 20%;
        }

        .box-content .col-md-6 span {
            font-weight: bold;
            font-size: 20px;
            color: rgb(2, 101, 230);
        }
/*Het phan conten*/




/*Phan icon cuoi trang*/
.box-icon {
    margin-top: 30px;
    margin-bottom: 100px;
    text-align: center;
    border-top: 1px solid rgb(163, 163, 163);
}

    .box-icon img {
        padding-top: 90px;
        width: 64px;
        margin: 20px;
    }

    .box-icon p {
        padding: 10px;
        font-size: 20px;
        color:black;
    }
/*Het phan icon cuoi trang*/



/*Phan timeline*/
.timeline ul li {
    list-style-type: none;
    position: relative;
    width: 6px;
    margin: 0 auto;
    padding-top: 50px;
    background: rgb(73, 73, 73);
}

.timeline time {
    font-size: 26px;
    font-weight: bold;
}

.timeline p {
    color: white;
    font-size: 20px;
    padding: 5px 0;
}

.timeline h2 {
    text-align: center;
    color: rgb(2, 101, 230);
}

.timeline h4 {
    text-align: center;
    color: rgb(2, 101, 230);
    padding-bottom: 35px;
}

.timeline ul li::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: inherit;
}

.timeline ul li div {
    position: relative;
    bottom: 0;
    width: 400px;
    padding: 15px;
    background: #3f7df0;
    border-radius: 13px;
}

    .timeline ul li div::before {
        content: '';
        position: absolute;
        bottom: 7px;
        width: 0;
        height: 0;
        border-style: solid;
    }

.timeline ul li:nth-child(odd) div {
    left: 45px;
}

    .timeline ul li:nth-child(odd) div::before {
        left: -15px;
        border-width: 8px 16px 8px 0;
        border-color: transparent #3f7df0 transparent transparent;
    }

.timeline ul li:nth-child(even) div {
    left: -439px;
}

    .timeline ul li:nth-child(even) div::before {
        right: -15px;
        border-width: 8px 0 8px 16px;
        border-color: transparent transparent transparent #3f7df0;
    }

@media screen and (max-width: 600px) {
    .timeline ul li {
        margin-left: 20px;
    }

        .timeline ul li div {
            width: calc(100vw - 91px);
        }

        .timeline ul li:nth-child(even) div {
            left: 45px;
        }

            .timeline ul li:nth-child(even) div::before {
                left: -15px;
                border-width: 8px 16px 8px 0;
                border-color: transparent #3f7df0 transparent transparent;
            }
}

.timeline ul li::after {
    background: #fff;
    transition: background .5s ease-in-out;
}

.timeline ul li.in-view::after {
    background: #3f7df0;
}

.timeline ul li div {
    visibility: hidden;
    opacity: 0;
    transition: all .5s ease-in-out;
}

.timeline ul li:nth-child(odd) div {
    transform: translate3d(200px,0,0);
}

.timeline ul li:nth-child(even) div {
    transform: translate3d(-200px,0,0);
}

.timeline ul li.in-view div {
    transform: none;
    visibility: visible;
    opacity: 1;
}
/*Het timeline*/




/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: #5a5a5a;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
    margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    bottom: 3rem;
    z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
    height: 32rem;
}

    .carousel-item > img {
        position: absolute;
        top: 0;
        left: 0;
        min-width: 100%;
        height: 32rem;
    }


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}

.marketing h2 {
    font-weight: 400;
}

.marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
}


/* Featurettes
------------------------- */

.featurette-divider {
    margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
}


/* News
-------------------------------------------------- */

@media (min-width: 40em) {
    /* Bump up size of carousel content */
    .carousel-caption p {
        margin-bottom: 1.25rem;
        font-size: 1.25rem;
        line-height: 1.4;
    }

    .featurette-heading {
        font-size: 50px;
    }
}

@media (min-width: 62em) {
    .featurette-heading {
        margin-top: 7rem;
    }
}

.footer-dark {
    padding: 50px 0;
    color: #f0f9ff;
    background-color: #282d32;
}

    .footer-dark h3 {
        margin-top: 0;
        margin-bottom: 10px;
        text-align: left;
        font-weight: bold;
        font-size: 16px;
    }

    .footer-dark ul {
        padding: 0;
        list-style: none;
        line-height: 1.6;
        font-size: 14px;
        margin-bottom: 0;
    }

        .footer-dark ul a {
            color: inherit;
            text-decoration: none;
            opacity: 0.6;
        }

            .footer-dark ul a:hover {
                opacity: 0.8;
            }

@media (max-width:767px) {
    .footer-dark .item:not(.social) {
        text-align: center;
        padding-bottom: 20px;
    }
}

.footer-dark .item.text {
    margin-bottom: 36px;
}

@media (max-width:767px) {
    .footer-dark .item.text {
        margin-bottom: 0;
    }
}

.footer-dark .item.text p {
    opacity: 0.6;
    margin-bottom: 0;
}

.footer-dark .item.social {
    text-align: center;
}

@media (max-width:991px) {
    .footer-dark .item.social {
        text-align: center;
        margin-top: 20px;
    }
}

.footer-dark .item.social > a {
    font-size: 20px;
    width: 36px;
    height: 36px;
    line-height: 36px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0 0 0 1px rgba(255,255,255,0.4);
    margin: 0 8px;
    color: #fff;
    opacity: 0.75;
}

    .footer-dark .item.social > a:hover {
        opacity: 0.9;
    }

.footer-dark .copyright {
    text-align: center;
    padding-top: 24px;
    opacity: 0.3;
    font-size: 13px;
    margin-bottom: 0;
}





.pad0 {
    padding: 0px;
}

.bg_black {
    background: #000;
}

.block-blog {
    width: 100%;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgba(226, 223, 223, 0.61);
}

.transperent_block {
    padding: 0px;
    position: relative;
    overflow: hidden;
    height: 250px;
}

    .transperent_block img {
        width: 100%;
        height: 100%;
    }

    .transperent_block:hover .black_hover_block {
        opacity: 1;
        transform: translateY(-150px);
        -webkit-transform: translateY(-150px);
        -moz-transform: translateY(-150px);
        -ms-transform: translateY(-150px);
        -o-transform: translateY(-150px);
    }

    .transperent_block img {
        z-index: 4;
    }

    .transperent_block .black_hover_block {
        position: absolute;
        bottom: 3%;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        --ms-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        width: 100%;
    }

    .transperent_block:hover .black_hover_block, .black_hover_block:hover {
        bottom: 30%;
        transition: all 0.3s ease-in-out;
    }

    .transperent_block .blur {
        background-color: rgba(0,0,0,0.7);
        height: 400px;
        z-index: 5;
        position: absolute;
        width: 100%;
    }

    .transperent_block .black_hover_block_text {
        z-index: 10;
        color: #fff;
        position: absolute;
        height: 400px;
        text-align: center;
        top: -20px;
        width: 100%;
    }

.block_header {
    margin-top: 5px;
}

.black_hover_block_text i:hover {
    color: #77132f;
}

.black_hover_block_text i {
    padding: 10px 10px;
    font-size: 18px;
    color: #fff;
}

    .black_hover_block_text i:hover {
        color: #ffffffa6
    }

.black_hover_block_text:hover .titl-h5 {
    background-color: rgba(119, 19, 47, 0.60);
}

.titl-h5 {
    border-top: 2px solid #77132f;
    border-bottom: 2px solid #77132f;
    padding: 10px;
    margin-top: 0px;
    line-height: 20px;
    text-transform: uppercase;
}

.btn-pink {
    background-color: #77132f;
    color: #fff;
    border: 4px solid #77132f;
}

    .btn-pink:hover {
        color: #fff;
        background-color: #6f0f2a9e;
        border: 4px solid #6f0f2a4e;
    }

.btn-sm {
    margin-top: 10px;
}

.black_hover_block_text li:hover {
    background-color: #77132f;
    cursor: pointer;
    color: #fff;
    width: 33.34%;
}

.black_hover_block_text li {
    list-style: none;
    border: none !important;
}


/*Phần tin tức*/
.text-superbox {
    margin-top: 100px;
    margin-bottom: 80px;
}

    .text-superbox .container .row .col-md-8 .a {
        color: rgb(172, 171, 171);
    }

    .text-superbox .container .row .col-md-8 .b {
        color: black;
        font-weight: bold;
    }

    .text-superbox img {
        margin: 20px 0;
    }

    .text-superbox ul li a {
        color: #0b75ef;
        text-decoration: none;
        margin-bottom: 10px;
    }

    .text-superbox p {
        margin-top: 17px;
    }

    .text-superbox .col-md-4 h5 {
        text-align: center;
        font-weight: bold;
        border-bottom: 1px solid #2625e3;
    }

    .text-superbox .col-md-4 ul li {
        list-style: none;
        margin: 20px 0;
        border-bottom: 1px solid gray;
    }

        .text-superbox .col-md-4 ul li a:hover {
            color: #035770;
        }
	