﻿<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.80.0">
    <title>Dashboard Template · Bootstrap v4.6</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.6/examples/dashboard/">



    <!-- Bootstrap core CSS -->

    <link href="~/Areas/admin2/Data/bootstrap.css" rel="stylesheet" />

    <!-- Bootstrap Font Icon CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @@media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>


    <!-- Custom styles for this template -->
    <link href="~/Areas/admin2/Data/dashboard.css" rel="stylesheet" />
</head>
<body>

    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-md-4 col-lg-3 mr-1 px-4" href="@Url.Action("Index","Default")"><center><img src="~/Content/images/LOgo-removebg-preview.png" class="img-fluid" style="width:100px;height:40px;" /> TDT-KLD</center></a>
        <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        @*<input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">*@
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <a class="nav-link" href="@Url.Action("Logout","Login")"><span data-feather="log-out"></span> Đăng xuất</a>
            </li>
        </ul>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <nav id="sidebarMenu" class="col-md-4 col-lg-3 d-md-block bg-light sidebar collapse">
                <div class="sidebar-sticky pt-3">
                    <ul class="nav flex-column">
                        <br>
                        <li class="nav-item" style="font-size:larger">
                            <a class="nav-link active" href="#">
                                <span data-feather="edit"></span>
                                Danh Mục  <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span data-feather="list"></span>Quản lý danh mục
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="@Url.Action("Index","menu")">
                                    <span data-feather="file-text"></span>
                                    Danh mục menu
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="@Url.Action("Index","news")">
                                    <span data-feather="file-text"></span>
                                    Danh mục tin tức
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="@Url.Action("Index","product")">
                                    <span data-feather="file-text"></span>
                                    Danh mục sản phẩm
                                </a>
                                
                                
                                <div class="dropdown-divider"></div>

                            </div>
                        </li>


                        <br>

                        <li class="nav-item" style="font-size:larger">
                            <a class="nav-link active" href="#">
                                <span data-feather="edit"></span>
                                Chủng Loại <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span data-feather="list"></span>Quản lý Chủng Loại
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                
                               
                                
                               
                                <a class="dropdown-item" href="@Url.Action("Index","category")">
                                    <span data-feather="file-text"></span>
                                    Quản lý loại sản phẩm
                                </a>
                               

                            </div>
                        </li>






                        <br>
                        <li class="nav-item">
                            <a class="nav-link active" href="#" style="font-size:larger">
                                <span data-feather="home"></span>
                                Trang Người Dùng <span class="sr-only">(current)</span>
                            </a>
                        </li>


                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span data-feather="list"></span>Quản lý Trang Giới Thiệu
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="@Url.Action("Index","NewsIntroductionTops")">
                                    <span data-feather="file-text"></span>
                                    Giới thiệu sơ lược
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="@Url.Action("Index","NewsDataNumberMiddles")">
                                    <span data-feather="file-text"></span>
                                    Phân trang thống kê số liệu
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="@Url.Action("Index","NewsYearsNumberMiddle2")">
                                    <span data-feather="file-text"></span>
                                    Phân trang giai đoạn
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="@Url.Action("Index","NewsPersonels")">
                                    <span data-feather="file-text"></span>
                                    Phân trang Nhân sự
                                </a>
                                <div class="dropdown-divider"></div>

                            </div>
                        </li>





                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span data-feather="list"></span>Quản lý trang Chủ
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span data-feather="edit"></span>
                                    Trang chủ
                                </a>
                                <div class="dropdown" aria-labelledby="navbarDropdown2">
                                    <a class="dropdown-item" href="@Url.Action("GetAboutCategory","category")">
                                        <span data-feather="edit"></span>
                                        Giới thiệu sản phẩm
                                    </a>
                                    <div class="dropdown-divider"></div>
                                    @*<a class="dropdown-item" href="#">
                        <span data-feather="edit"></span>
                        Sản phẩm nổi bật
                    </a>
                    <div class="dropdown-divider"></div>*@
                                    <a class="dropdown-item" href="@Url.Action("Index","HomeQuestion")">
                                        <span data-feather="edit"></span>
                                        Hỏi
                                    </a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="@Url.Action("Index","HomeAnswer")">
                                        <span data-feather="edit"></span>
                                        Đáp
                                    </a>

                                </div>


                                <div class="dropdown-divider"></div>



                            </div>
                        </li>




                        <!--<li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span data-feather="list"></span>Quản lý Trang Liên Hệ
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">-->
                                @*<a class="dropdown-item" href="@Url.Action("Index","Contactindexes")">
                                    <span data-feather="edit"></span>
                                    Địa chỉ liên hệ
                                </a>*@
                             
                               
                                <div class="dropdown-divider"></div>

                            </div>
                        </li>


                        @*<li class="nav-item">
                <a class="nav-link" href="#">
                    <span data-feather="file"></span>
                    Orders
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span data-feather="shopping-cart"></span>
                    Products
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span data-feather="users"></span>
                    Customers
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span data-feather="bar-chart-2"></span>
                    Reports
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span data-feather="layers"></span>
                    Integrations
                </a>
            </li>
        </ul>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>Saved reports</span>
            <a class="d-flex align-items-center text-muted" href="#" aria-label="Add a new report">
                <span data-feather="plus-circle"></span>
            </a>
        </h6>
        <ul class="nav flex-column mb-2">
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span data-feather="file-text"></span>
                    Current month
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span data-feather="file-text"></span>
                    Last quarter
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span data-feather="file-text"></span>
                    Social engagement
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span data-feather="file-text"></span>
                    Year-end sale
                </a>
            </li>*@
                    </ul>
                </div>
            </nav>

            <main role="main" class="col-md-8 ml-sm-auto col-lg-9 px-md-4">
                <div>
                    @RenderBody()
                </div>
            </main>
        </div>
    </div>




    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../assets/js/vendor/jquery.slim.min.js"><\/script>')</script>
    <script src="~/Areas/admin2/Data/assets/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
    <script src="~/Areas/admin2/Data/vendor/jquery/jquery.min.js"></script>
    <script src="~/Areas/admin2/Data/dashboard.js"></script>
    @RenderSection("_Header", false);
    @RenderSection("_Footer", false);
</body>
</html>

