﻿@model WebShowProduct_TDTC.Models.NewsDataNumberMiddle

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/admin2/Views/Shared/_MyAdminLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>NewsDataNumberMiddle</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.DataName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.DataName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.DataNumber)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.DataNumber)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.DataImage)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.DataImage)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Order)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Order)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
