﻿@model IEnumerable<WebShowProduct_TDTC.Models.NewsDataNumberMiddle>

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/admin2/Views/Shared/_MyAdminLayout.cshtml";
}

<!DOCTYPE html>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h1>SỐ LIỆU THỐNG KÊ</h1>
            </div>
            <div class="card-body">
                <table class="table table-bordered table-hover table-sm">
                    
                    <tbody>
                        
                            @*<p>
                                    @Html.ActionLink("Create New", "Create")
                                </p>*@
                            
                                <tr>
                                    @*<th>
                                            @Html.DisplayNameFor(model => model.Name)
                                        </th>*@
                                    <th scope="row">
                                        @Html.DisplayNameFor(model => model.DataName)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.DataNumber)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.DataImage)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Order)
                                    </th>
                                    <th></th>
                                </tr>

                                @foreach (var item in Model)
                                {
                                    <tr>
                                        @*<td>
                                                @Html.DisplayFor(modelItem => item.Name)
                                            </td>*@
                                        <td>
                                            @Html.DisplayFor(modelItem => item.DataName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.DataNumber)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.DataImage)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Order)
                                        </td>
                                        <td>
                                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }, htmlAttributes: new { data_modal = "", @class = "btn btn-warning" })
                                            @Html.ActionLink("Details", "Details", new { id = item.Id }, htmlAttributes: new { data_modal = "", @class = "btn btn-primary" })
                                            @*@Html.ActionLink("Delete", "Delete", new { id=item.Id })*@
                                        </td>
                                    </tr>
                                }

                           
                        </tbody>

                </table>
            </div>
        </div>
    </div>
</div>
