﻿
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

@*@section _Header{
    <link href="~/Areas/admin2/Data/bootstrap.min.css" rel="stylesheet" />
}*@

<!--Content ở đây-->
<div class="textarea" style="color:Highlight">
    <h2 style="color:Highlight">Giới thiệu sơ lược</h2>
</div>
<div class="box-content">
    
    <div class="container">

        <div class="row">
            @{Html.RenderAction("GetNewsTop", "Default");}
            @*<div class="col-md-6">
            ------khuc này để detail va img dai dien vào----
            <p><span>TDT-KLD</span> là công ty thiết kế website cao cấp có tuổi đời 8+ năm trong ngành, hoạt động chính thức từ 2013 – trước đó là một nhóm Freelancer.</p></br>
            <p>TDT-KLD hiện đang hoạt động ở các mảng: </p>
            <ul>
                <li>Website cao cấp cho khách hàng, giao diện thiết kế độc quyền, chỉn chu, chuẩn về UX, tính năng code theo giải pháp đã tư vấn cho khách hàng.</li>
                <li>
                    Web-app, phần mềm quản lý viết riêng, giải quyết các vấn đề tồn đọng và vấn đề tương lai phát triển cho doanh nghiệp
                    Là sân sau hỗ trợ các đối tác cùng ngành thiết kế website và phần mềm khác nhờ vào đội ngũ lập trình và thiết kế chuyên môn cao, chúng tôi đã hỗ trợ các anh em đồng nghiệp khác trong nghề đưa dự án tới tay khách hàng
                </li>
                <li>SEO và Marketing online cho các dự án khách hàng của chính công ty</li>
                <li>
                    Nghiên cứu và ra đời các bộ phần mềm có sẵn để phục vụ trực tiếp vào nhu cầu của khách hàng Việt Nam như phần mềm nhập hàng Trung Quốc, phần mềm dạy học trực tuyến elearning, phần mềm quản lý tiệm nail, tóc, làm đẹp,
                    Ngay từ những ngày đầu hoạt động, <span>TDT-KLD</span> đã chọn cho mình một phân khúc riêng, khác biệt với hàng ngàn công ty dịch vụ <span>thiết kế website</span> trên thị trường: phân khúc của sự hiệu quả.
                </li>
            </ul>
            <P>Những website/phần mềm từ <span>TDT-KLD</span> luôn được tư vấn, phát triển, tối ưu nhằm mang lại hiệu quả rõ rệt cho hoạt động kinh doanh của doanh nghiệp.</P>
        </div>
        <div class="col-md-6">
            <img src="~/Content/images/about/CTy.png" style="width:110%;height:80%">
        </div>*@
        </div>
    </div>
</div>
<!--Hết Content-->
<!--Animated Counter-->
<section class="counters">
    <div class="textarea">
        <h2 style="color:Highlight">Thống kê số liệu</h2>
    </div>
    <div class="container">

        
        @{Html.RenderAction("getNewsDataNumbermiddle", "Default");}
        @*<div>
            <img src="~/Content/images/about/certificate.png" width="64px">
            <div class="counter" data-target="100">0</div>
            <h4>Kinh nghiệm</h4>
        </div>
        <div>
            <img src="~/Content/images/about/3d-printing-software.png" width="64px">
            <div class="counter" data-target="500">0</div>
            <h4>Phần mềm & Outsource</h4>
        </div>
        <div>
            <img src="~/Content/images/about/building.png" width="64px">
            <div class="counter" data-target="4000">0</div>
            <h4>Doanh nghiệp</h4>
        </div>
        <div>
            <img src="~/Content/images/about/customer.png" width="64px">
            <div class="counter" data-target="45000">0</div>
            <h4>Cá nhân & Hộ gia đình </h4>
        </div>*@
    </div>
</section>
<!--counter End-->
<!--Phần timeline-->
<section class="timeline">
    <div class="textarea">
        <h2>Các giai đoạn</h2>
    </div>
    
    <ul>

        @{Html.RenderAction("getNewsYearsmiddle2", "Default");}
        @*<li>
            <div>
                <time>2015</time>
                </br><p>TDT-KLD chính thức thành lập từ 1 nhóm freelancer chỉ với 3 thành viên là Kiệt, Đạt và Long.</p>
            </div>
        </li>
        <li>
            <div>
                <time>2016</time>
                </br><p>TDT-KLD được nhà nước khen thưởng là công ty khởi nghiệp của năm.</p>
            </div>
        </li>
        <li>
            <div>
                <time>2017</time>
                </br><p>Đánh dấu cột mốc đạt 1000 khách hàng tin dùng sản phẩm của TDT-KLD.</p>
            </div>
        </li>
        <li>
            <div>
                <time>2018</time>
                </br><p>TDT-KLD mở chi nhánh Hà Nội, mở rộng thị trường trong nước, tiến tới nhiều loại khách hàng hơn.</p>
            </div>
        </li>
        <li>
            <div>
                <time>2019</time>
                </br><p>TDT-KLD đánh dấu đã hợp tác hơn 1000 doanh nghiệp trong nước và nước ngoài, cùng với hơn 45000 hộ gia đình và kinh doanh nhỏ lẻ.</p>
            </div>
        </li>
        <li>
            <div>
                <time>2020</time>
                </br><p>TDT-KLD được nhà nước khen thường là công ty xuất sắc trong lĩnh vực outsource.</p>
            </div>
        </li>
        <li>
            <div>
                <time>2021</time>
                </br><p>TDT-KLD chi nhánh Đà Nẵng được thành lập.</p>
            </div>
        </li>*@
    </ul>
</section>
<!--Hết timeline-->
<!--Phần Nhân sự-->
<div class="container">
    <div class="textarea">
        <h2 style="color:Highlight">Nhân sự công ty</h2>
    </div>
    <div class="row">

        
        @{Html.RenderAction("getNewsPersonel", "Default");}
            @*<div class="col-md-3">
                <div class="boximg">
                    <img src="~/Content/images/about/156822790_2984867751744270_4263409240014967582_n.jpg">
                </div>
                <h5>Quốc Đạt</h5>
                <span>Giám đốc điều hành</span>
            </div>
            <div class="col-md-3">
                <div class="boximg">
                    <img src="~/Content/images/about/156822790_2984867751744270_4263409240014967582_n.jpg">
                </div>
                <h5>Tuấn Kiệt</h5>
                <span>Quản lý dự án</span>
            </div>
            <div class="col-md-3">
                <div class="boximg">
                    <img src="~/Content/images/about/156822790_2984867751744270_4263409240014967582_n.jpg">
                </div>
                <h5>Kim Long</h5>
                <span>Front-end leader</span>
            </div>
            <div class="col-md-3">
                <div class="boximg">
                    <img src="~/Content/images/about/156822790_2984867751744270_4263409240014967582_n.jpg">
                </div>
                <h5>Quốc Đạt</h5>
                <span>Giám đốc điều hành</span>
            </div>*@
        </div>
</div>
<!--Hết phần nhân sự-->
<!--Phần icon-->
<div class="box-icon">
    <div class="container">
        <img src="~/Content/images/about/angular.png">
        <img src="~/Content/images/about/C-Sharp.png">
        <img src="~/Content/images/about/python.png">
        <img src="~/Content/images/about/reactjs.png">
        <img src="~/Content/images/about/js_html_css.png">
        <img src="~/Content/images/about/ios.png">
        <img src="~/Content/images/about/android.png">
        <p>
            Sự phát triển không ngừng của chúng tôi trong 100 năm qua đã chứng minh phương hướng hoạt động của công ty là đúng đắn
            “Chỉ cần tập trung vào trình độ, chất lượng và hậu mãi. Khách hàng sẽ tự biết đến và giới thiệu lẫn nhau thay vì những bề ngoài hoa mỹ nhưng bên trong nội bộ mục nát”
        </p>

    </div>
</div>
<!--Hết phần icon-->

<script>
    /*Phần counter*/
    const counters = document.querySelectorAll('.counter');
    const speed = 200;
    counters.forEach(counter => {
        const updateCount = () => {
            const target = +counter.getAttribute('data-target');
            const count = +counter.innerText;
            const inc = target / speed;
            if (count < target) {
                counter.innerText = count + inc;
                setTimeout(updateCount, 1);
            } else {
                counter.innerText = target;
            }
        };
        updateCount();
    });
    /*Hết phần counter*/

    /*Phần timeline*/
    function isElementInViewport(el) {
        var rect = el.getBoundingClientRect();
        return (
            rect.top >= 0 &&
            rect.left >= 0 &&
            rect.bottom <= (window.innerHeight || document.documentElement.clientHeight) &&
            rect.right <= (window.innerWidth || document.documentElement.clientWidth)
        );
    }
    var items = document.querySelectorAll(".timeline li");

    // code for the isElementInViewport function

    function callbackFunc() {
        for (var i = 0; i < items.length; i++) {
            if (isElementInViewport(items[i])) {
                items[i].classList.add("in-view");
            }
        }
    }
    window.addEventListener("load", callbackFunc);
    window.addEventListener("scroll", callbackFunc);
        /*Hết phần timeline*/
</script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<scrip src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></scrip>