﻿@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}
<!--Liên hệ-->
<div class="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h3>Thông tin liên hệ</h3>
                @{Html.RenderAction("getAboutIndex", "Default");}

                @*<h3>Thông tin liên hệ</h3>
        <p>Chi nhánh TP.HCM</p>
        <ul>
            <li>Địa chỉ: 98 Ngô Tất Tố, Phường 19, Quận Bình Thạnh</li>
            <li>SĐT: 03787878823</li>
        </ul>
        <p>Chi nhánh Hà Nội</p>
        <ul>
            <li>Địa chỉ: 21 Thanh An, Phường Thanh Xuân, Hà Nội</li>
            <li>SĐT: 0376472713</li>
        </ul>
        <p>Chi nhánh Đà Nẵng</p>
        <ul>
            <li>Địa chỉ: 213 Phường Hòa Minh, Liên Chiểu, Đà Nẵng</li>
            <li>SĐt: 03732131231</li>
        </ul>*@
            </div>
            <div class="col-md-6">
                <h3>Gửi phản hồi với chúng tôi</h3>
                <input type="text" placeholder="   Họ tên">
                <input type="text" placeholder="   SĐT">
                <input type="text" placeholder="   Email">
                <textarea rows="5" cols="50" placeholder="   Chi tiết phản hồi"></textarea>
                <button type="button">Gửi</button>
            </div>
        </div>
    </div>
</div>
<!--Hết phần liên hệ-->
