﻿@model IEnumerable<WebShowProduct_TDTC.Models.category>

@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tittle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Images)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Meta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hide)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateBegin)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tittle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Images)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Meta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hide)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Order)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateBegin)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Id })
            </td>
        </tr>
    }

    </table>*@
@foreach (var item in Model)
{
    if (item.Id % 2 == 0)
    {
        <div class="how-section1">
            <div class="row">
                <div class="col-md-6 how-img">
                    <img src="~/Content/images/category/@item.Images" alt="" />
                </div>
                <div class="col-md-6">
                    <h4> @Html.DisplayFor(modelItem => item.Tittle)</h4>
                    <p>
                        @*@Html.DisplayFor(modelItem => item.Description)*@

                        @Html.Raw(HttpUtility.HtmlDecode(item.Description))
                    </p>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="how-section2">
            <div class="row">
                <div class="col-md-6">
                    <h4> @Html.DisplayFor(modelItem => item.Tittle)</h4>
                    <p>
                        @*@Html.DisplayFor(modelItem => item.Description)*@
                        @Html.Raw(HttpUtility.HtmlDecode(item.Description))
                    </p>
                </div>
                <div class="col-md-6 how-img">
                    <img src="~/Content/images/category/@item.Images" alt="" />
                </div>
            </div>
        </div>
    }

}

