﻿@model IEnumerable<WebShowProduct_TDTC.Models.HomeAnswer>

@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Answer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuestionID)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Answer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuestionID)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Id })
            </td>
        </tr>
    }

    </table>*@
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-6">
            <h5>  @Html.DisplayFor(modelItem => item.Title)</h5>

            <p>  @Html.DisplayFor(modelItem => item.Answer)</p>
        </div>
        @*<div class="col-md-6">
                <h5>GIAO DIỆN ĐƯỢC THIẾT KẾ RIÊNG VÀ ĐỘC QUYỀN</h5>
                <p>
                    Chúng tôi biết được mỗi trung tâm là một style khác nhau vì vậy website cũng vậy chúng tôi không thể sử dụng chung một giao diện cho nhiều website khác nhau, Tại TDT-KLD mỗi dự án đều được chúng tôi thiết kế giao diện riêng và độc quyền của riêng khách hàng, giúp họ có được một trang web với style duy nhất

                </p>
            </div>*@
       
    }
</div>
