﻿@model IEnumerable<WebShowProduct_TDTC.Models.Contactindex>



@foreach (var i in Model)
{

    <p>@i.NameChinhanh</p>
    <ul>
        <li>@i.DiaChi</li>
        <li>@i.SDT</li>
    </ul>



    @*<p>Chi nhánh Hà Nội</p>
        <ul>
            <li>Địa chỉ: 21 Thanh An, Phường Thanh Xuân, Hà Nội</li>
            <li>SĐT: 0376472713</li>
        </ul>
        <p>Chi nhánh Đà Nẵng</p>
        <ul>
            <li>Địa chỉ: 213 Phường Hòa Minh, Liên Chiểu, Đà Nẵng</li>
            <li>SĐt: 03732131231</li>
        </ul>*@


}