﻿@model IEnumerable<WebShowProduct_TDTC.Models.news>
@foreach (var i in Model)
{


    <li>
        <a href="#">@i.Name</a>
        <img src="~/Content/images/@i.Image" width="100%">
    </li>



    @*<li>
        <a href="#">Doanh số công ty quý 1 2021 tăng cao kỷ lục</a>
        <img src="./img/1.jpg" width="100%">
    </li>
    <li>
        <a href="#">Việt Nam bí mật phát triển vũ khí nguyên tử cùng công ty KLD</a>
        <img src="./img/4.jpg" width="100%">
    </li>
    <li>
        <a href="#">Tiệc ăn mừng công ty KLD thành lập chi nhánh Hà Nội</a>
        <img src="./img/3.jpg" width="100%">
    </li>
    <li>
        <a href="#">Việt Nam tiến hành thống nhất Lào và Campuchia, thành lập Đế Quốc Việt Nam</a>
        <img src="./img/5.jpg" width="100%">
    </li>*@
}