﻿@model IEnumerable<WebShowProduct_TDTC.Models.news>
@foreach (var i in Model)

{
    <link href="~/Content/css/style.css" rel="stylesheet">
    <hr class="featurette-divider">
    <hr class="featurette-divider" style="margin-top: 50px;">

    <div class="row featurette">
        <div class="col-md-6">
            <h2 class="featurette-heading">@i.Name</h2>
            <h3><span class="text-muted">@i.Description</span></h3>

        </div>
        <div class="col-md-6">
            @*<svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee" /><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>*@

            <img src="http://i613.photobucket.com/albums/tt213/boakye51/fw_al_007_03_zpsfwzueotz.jpg" class="img-responsive" alt="" width="100%" height="120%" style="border-radius: 5%; -moz-border-radius: 5%; -webkit-border-radius: 5%;">
        </div>
    </div>
    <hr class="featurette-divider" style="margin-top: 30px;">
}
