﻿@model List<WebShowProduct_TDTC.Models.NewsYearsNumberMiddle2>
@{
    Layout = null;
}


@foreach (var i in Model)
{

    //if (item.Id % 2 == 0)
    //{

    //}
    //else
    //{

    //}



    <li>
        <div>
            <time>@i.YearsNumber</time>
            <br><p>@i.YearsDescription</p>
        </div>
    </li>

  

    @*<li>
            <div>
                <time>2016</time>
                </br><p>TDT-KLD được nhà nước khen thưởng là công ty khởi nghiệp của năm.</p>
            </div>
        </li>
        <li>
            <div>
                <time>2017</time>
                </br><p>Đánh dấu cột mốc đạt 1000 khách hàng tin dùng sản phẩm của TDT-KLD.</p>
            </div>
        </li>
        <li>
            <div>
                <time>2018</time>
                </br><p>TDT-KLD mở chi nhánh Hà Nội, mở rộng thị trường trong nước, tiến tới nhiều loại khách hàng hơn.</p>
            </div>
        </li>
        <li>
            <div>
                <time>2019</time>
                </br><p>TDT-KLD đánh dấu đã hợp tác hơn 1000 doanh nghiệp trong nước và nước ngoài, cùng với hơn 45000 hộ gia đình và kinh doanh nhỏ lẻ.</p>
            </div>
        </li>
        <li>
            <div>
                <time>2020</time>
                </br><p>TDT-KLD được nhà nước khen thường là công ty xuất sắc trong lĩnh vực outsource.</p>
            </div>
        </li>
        <li>
            <div>
                <time>2021</time>
                </br><p>TDT-KLD chi nhánh Đà Nẵng được thành lập.</p>
            </div>
        </li>*@

}

