﻿@model List<WebShowProduct_TDTC.Models.NewsPersonel>
@{
    Layout = null;
}



@foreach (var i in Model)
{
    <div class="col-md-3">
        <div class="boximg">
            <img src="~/Content/images/about/@i.Image">
        </div>
        <h5>@i.Name</h5>
        <span>@i.Description</span>
    </div>


    @*<div class="col-md-3">
        <div class="boximg">
            <img src="~/Content/images/about/156822790_2984867751744270_4263409240014967582_n.jpg">
        </div>
        <h5>Tuấn Kiệt</h5>
        <span>Quản lý dự án</span>
    </div>
    <div class="col-md-3">
        <div class="boximg">
            <img src="~/Content/images/about/156822790_2984867751744270_4263409240014967582_n.jpg">
        </div>
        <h5>Kim Long</h5>
        <span>Front-end leader</span>
    </div>
    <div class="col-md-3">
        <div class="boximg">
            <img src="~/Content/images/about/156822790_2984867751744270_4263409240014967582_n.jpg">
        </div>
        <h5>Quốc Đạt</h5>
        <span>Giám đốc điều hành</span>
    </div>*@
}