﻿@model List<WebShowProduct_TDTC.Models.NewsDataNumberMiddle>
@{
    Layout = null;
}
@foreach (var i in Model)
{
    <div>
        <img src="~/Content/images/about/@i.DataImage" width="64px">
        <div class="counter" data-target="@i.DataNumber">0</div>
        <h4>@i.DataName</h4>
    </div>

    @*<div>
        <img src="~/Content/images/about/3d-printing-software.png" width="64px">
        <div class="counter" data-target="500">0</div>
        <h4>Phần mềm & Outsource</h4>
    </div>
    <div>
        <img src="~/Content/images/about/building.png" width="64px">
        <div class="counter" data-target="4000">0</div>
        <h4>Doanh nghiệp</h4>
    </div>
    <div>
        <img src="~/Content/images/about/customer.png" width="64px">
        <div class="counter" data-target="45000">0</div>
        <h4>Cá nhân & Hộ gia đình </h4>
    </div>*@
}