﻿@model IEnumerable<WebShowProduct_TDTC.Models.news>





@foreach (var i in Model)





{
    @*
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 ">
            <div class="card">
                <div class="card-body">
                    <div class="Image">
                        <center><img src="~/Content/images/@i.Image" class="images-responsive" alt="MISA BankHub" style="width:25%;" /></center>
                    </div>
                    <div class="Name">@i.Name</div>
                    <div class="Subname">@i.Description</div>
                    <div class="Description">@i.Detail</div>
                </div>
            </div>
        </div> *@

    <!--<div class="col-sm-4 col-lg-4 col-xs-4 col-sm-4 col-md-4">-->
    @*<svg class="bd-placeholder-img rounded-circle" width="140" height="140" img src="~/Content/images/@i.Image" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777" /><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>*@
    <!--<center><img src="~/Content/images/@i.Image" class="images-responsive" alt="MISA BankHub" style="width:50%;" /></center>
    <div class="Name"> <h3>@i.Name</h3></div>-->
    @*<h5>Some representative placeholder content for the three columns of text below the carousel. This is the first column.</h5>*@
    <!--<div class="Subname">@i.Description</div>
        <div class="btn btn-secondary" href="#" style=" margin-top : 50px;">Xem cheese tiết &raquo;</div>
    </div>-->
    <!-- /.col-lg-4 -->



    <div class="col-lg-3 botm-margn " style="margin-top:35px;">
        <div class="transperent_block " style="background-color:#cccccc;">
            <img src="~/Content/images/@i.Image" class="img-responsive" alt="">

            <div class="black_hover_block">
                <div class="blur"></div>
                <div class="black_hover_block_text">
                    <ul class="pad0 bg_black">
                        <li class="col-sm-4 float-left pad0">@i.Name <span class="fa fa-comments"></span></li>
                        <div class="clearfix"></div>
                    </ul>

                    <h5 class="titl-h5">@i.Name</h5>
                    <p>@i.Description...</p>
                    
                    <a class=" btn btn-default btn-sm btn-pink" href="/@ViewBag.meta/@i.Meta/@i.Id">Đọc thêm</a>
                    <div class="block_header">
                        <a href="#"><i class="fa fa-facebook" data-toggle="tooltip" title="Facebook" data-original-title="Facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter" data-toggle="tooltip" title="Twitter" data-original-title="Twitter"></i></a>
                        <a href="#"><i class="fa fa-google-plus" data-toggle="tooltip" title="Google" data-original-title="Google Plus"></i></a>
                        <a href="#"><i class="fa fa-youtube" data-toggle="tooltip" title="Youtube" data-original-title="Youtube"></i></a>
                        <a href="#"><i class="fa fa-github" data-toggle="tooltip" title="Github" data-original-title="Github"></i></a>
                        <a href="#"><i class="fa fa-linkedin" data-toggle="tooltip" title="Linkedin" data-original-title="Linkedin"></i></a>
                        <a href="#"><i class="fa fa-flickr" data-toggle="tooltip" title="Flickr" data-original-title="Flickr"></i></a>
                        <a href="#"><i class="fa fa-skype" data-toggle="tooltip" title="Skype" data-original-title="Skype"></i></a>
                    </div>

                </div>
            </div>
        </div>
    </div>




    <link href="~/Content/css/style.css" rel="stylesheet">
    <hr class="featurette-divider">
}
<hr class="featurette-divider">


