﻿@model List<WebShowProduct_TDTC.Models.NewsIntroductionTop>
@{
    Layout = null;
}

@foreach (var i in Model)
{
    <div class="col-md-6">
        
        @Html.Raw(HttpUtility.HtmlDecode(i.Detail))
    </div>
    <div class="col-md-6">
        <img src="~/Content/images/about/@i.Image" style="width:110%;height:80%">
    </div>
}