﻿@model List<WebShowProduct_TDTC.Models.product>
@foreach (var i in Model)
{
<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 ">
    <div class="card">
        <div class="card-body">
            @if (@i.CategoryId == 1)
            {
                <div class="Image">
                    <center><img src="~/Content/images/product/@i.Images" class="img-fluid" alt="MISA BankHub" style="width:25%;height:25%" /></center>
                </div><br />
                <div class="Name">@i.Name</div>
                <div class="Subname">@i.Subname</div><br />
                <div class="Description">@i.Description</div><br />
                <a href="/@ViewBag.meta/@i.Meta/@i.Id" tabindex="-1" class="btn btn-outline-primary" role="button" aria-disabled="true">Khám phá</a>
            }
            else if (@i.CategoryId == 2)
            {
                <div class="Name">@i.Name</div><br/>
                <div class="Image">
                    <center><img src="~/Content/images/product/@i.Images" class="img-fluid" alt="MISA BankHub" style="width:220px;height:280px" /></center>
                </div>
            }
        </div>
    </div>
</div>
}
