﻿@model IEnumerable<WebShowProduct_TDTC.Models.product>

@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Images)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Detail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Meta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hide)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateBegin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryId)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Images)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Detail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Meta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hide)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Order)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateBegin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryId)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Id })
            </td>
        </tr>
    }

    </table>*@


<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    </ol>
    <div class="carousel-inner">
       
            <div class="carousel-item active">
                <div class="row">
                    @foreach (var item in Model)
                    {
                        if ((item.Order > 0 && item.Order < 4))
                        {
                            <div class="col-md-4">
                                <div class="card" style="width: 18rem; height:435px;">
                                    <center><img src="~/Content/images/Product/@item.Images" class="img-fluid card-img-top rounded-circle" style="width:250px;height:250px;" alt=""></center>
                                    <div class="card-body">
                                        <h5 class="card-title"> @Html.DisplayFor(modelItem => item.Name)</h5>
                                        <p class="card-text"> @Html.DisplayFor(modelItem => item.Subname)</p>
                                        <a href="/@ViewBag.meta/@item.Meta/@item.Id" class="btn btn-primary">Khám phá</a>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                    </div>
            </div>
            <div class="carousel-item">
                <div class="row">
                    @foreach (var item in Model)
                    {
                        if ((item.Order < 7 && item.Order > 3) )
                        {
                            <div class="col-md-4">
                                <div class="card" style="width: 18rem;  height:435px;">
                                    <center><img src="~/Content/images/Product/@item.Images" class="img-fluid card-img-top rounded-circle" style="width:250px;height:250px;" alt=""></center>
                                    <div class="card-body">
                                        <h5 class="card-title"> @Html.DisplayFor(modelItem => item.Name)</h5>
                                        <p class="card-text"> @Html.DisplayFor(modelItem => item.Subname)</p>
                                        <a href="/@ViewBag.meta/@item.Meta/@item.Id" class="btn btn-primary">Khám phá</a>
                                    </div>
                                </div>
                            </div>
                        }

                    }
                    </div>
            </div>
        </div>
</div>