﻿@model IEnumerable<WebShowProduct_TDTC.Models.HomeQuestion>

@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Question)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Question)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Id })
            </td>
        </tr>
    }

    </table>*@
@foreach (var item in Model)
{
    <h3>
        @Html.DisplayFor(modelItem => item.Question)
    </h3>
    @Html.Action("getAnswer", "Default", new { id = @item.Id })
}

