﻿
@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}


<div class="tdtkld">
    <h1>CÔNG TY CỔ PHẦN <span class="d">TDT - KLD</span></h1>
    <h2><span class="a">CAO CẤP</span> - <span class="b">SÁNG TẠO</span> - <span class="c">CHẤT LƯỢNG</span></h2>
</div>
<!--Navbar End-->
@*<div class="how-section1">
        <div class="row">*@
            @*<div class="col-md-6 how-img">
                <img src="~/Content/images/Outsource-removebg-preview (1).png" alt="" />
            </div>
            <div class="col-md-6">
                <h4>Các dự án Outsource</h4>
                <p>
                    Điều đặc biệt nhất khi thiết kế website ở TDT-KLD là bạn không cần phải lo lắng về trình độ kỹ thuật, thẩm mỹ thiết kế hay hậu mãi, bảo trì, bảo hành, bảo mật… Tất cả những gì bạn cần chuẩn bị một ý tưởng rõ ràng để cùng Project Manager của chúng tôi trao đổi tư vấn cho bạn.
                    TDT-KLD sẽ phân tích ưu/khuyết, đưa ra những tính năng phù hợp nhất cho kế hoạch, phương hướng phát triển, độ phù hợp với thị trường và kinh phí dự kiến
                </p>
                <ul>
                    <li>Tư vấn và triển khải theo yêu cầu</li>
                    <li>Giao diện thiết kế độc quyền</li>
                    <li>Tối ưu trải nghiệm người dùng</li>
                    <li>Dễ dàng quản lý</li>
                </ul>
                <button type="button">Xem thêm</button>*@
            @{Html.RenderAction("getAboutCategory", "Default");}
        @*</div>
</div>*@

    @*</div>
    <div class="how-section2">
        <div class="row">
            <div class="col-md-6">
                <h4>Các phần mềm có sẵn</h4>
                <p>
                    Chúng tôi không chỉ thiết kế mà còn cung cấp phần mềm nhu cầu riêng của khách hàng.
                    Phần mềm tại TDT-KLD là giải pháp những vấn đề tồn đọng, tối ưu mô hình kinh doanh hiện tại, tuyệt đối dễ dàng sử dụng mà không cần training nhân viên, report/báo cáo mọi vấn đề.
                </p>
                <ul>
                    <li>
                        Phân quyền sử dụng tối ưu, mỗi nhân viên chỉ cần và chỉ được truy cập vào các tính năng chỉ định.
                    </li>
                    <li>Quản lý tài nguyên tập trung, tìm kiếm nhanh chóng</li>
                    <li>Report/báo cáo ngay sau 1 giây.</li>
                </ul>
                <button type="button">Xem thêm</button>
            </div>
            <div class="col-md-6 how-img">
                <img src="~/Content/images/software.png" class="rounded-circle img-fluid" alt="" />
            </div>
        </div>
    </div>*@
@*<div class="how-section3">
    <div class="row">
        <div class="col-md-6 how-img">
            <img src="~/Content/images/NewHoGD-removebg-preview.png" class="rounded-circle img-fluid" alt="" />
        </div>
        <div class="col-md-6">
            <h4>Kinh doanh cá nhân & hộ gia đình</h4>
            <p>Tiên phong ứng dụng công nghệ Cloud – Mobile, AI cùng vô số tính năng thông minh, giải pháp của MISA đơn giản hóa toàn bộ quy trình phục vụ và bán hàng, cải thiện năng suất và góp phần gia tăng hiệu quả kinh doanh, vận hành của các nhà hàng/cửa hàng</p>
            <button type="button">Xem thêm</button>
        </div>
    </div>>
</div>
<div class="how-section4">
    <div class="row">
        <div class="col-md-6">
            <h4>Doanh nghiệp</h4>
            <p>
                Hợp nhất tất cả nghiệp vụ trên một nền tảng quản trị doanh nghiệp, ứng dụng công nghệ tiên tiến như AI, Blockchain, linh hoạt kết nối các dịch vụ giúp nâng cao năng suất làm việc, giảm chi phí và tăng lợi nhuận
            </p>
            <button type="button">Xem thêm</button>
        </div>
        <div class="col-md-6 how-img">
            <img src="~/Content/images/newDoanhNghiep-removebg-preview.png" class="rounded-circle img-fluid" alt="" />
        </div>
    </div>
</div>*@
<!--Carousel Product-->
<div class="container">
    <div class="textarea">
        <h2>Sản phẩm nổi nật</h2>
    </div>
    <div class="row">
        <div class="col-md-12">
            @{Html.RenderAction("getProductCarousel", "Default");}
            @*<div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="~/Content/images/2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="~/Content/images/2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="~/Content/images/2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>*@


            @*<div class="carousel-item">
            <div class="row">
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <img src="~/Content/images/2.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <img src="~/Content/images/2.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <img src="~/Content/images/2.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
        </div>
    </div>
</div>

    <!--Carousel product end-->
    <div class="contentA">
        @*<h3>Tại sao bạn nên chọn TDT-KLD</h3>*@
        @{Html.RenderAction("getQuestion", "Default");}
        @*<div class="row">
                <div class="col-md-6">
                    <h5>SỬ DỤNG CÔNG NGHỆ VÀ NGÔN NGỮ MẠNH MẼ</h5>

                    <p> Đối với TDT-KLD chúng tôi lựa chon .NET để thực hiện dự án này. Vì đây là ngôn ngữ mạnh mẽ với tính bảo mật cao, được sử dụng rộng rãi trong các dự án web-application.</p>
                </div>
                <div class="col-md-6">
                    <h5>GIAO DIỆN ĐƯỢC THIẾT KẾ RIÊNG VÀ ĐỘC QUYỀN</h5>
                    <p>
                        Chúng tôi biết được mỗi trung tâm là một style khác nhau vì vậy website cũng vậy chúng tôi không thể sử dụng chung một giao diện cho nhiều website khác nhau, Tại TDT-KLD mỗi dự án đều được chúng tôi thiết kế giao diện riêng và độc quyền của riêng khách hàng, giúp họ có được một trang web với style duy nhất

                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <h5>CÔNG NGHỆ BẢO MẬT ĐA TẦNG</h5>
                    <p>
                        Học trực tuyến cần được trang bị những phương thức bảo mật hiện đại và chuyên nghiệp, và chúng tôi là một chuyên gia trong lĩnh vực cung cấp phần mềm bảo mật. Ngay từ đầu chúng tôi đã tính toán để các phần mềm mà bạn sử dụng được bảo mật tốt nhất có thể thông qua các hệ thống và cách viết Code.
                    </p>
                </div>
                <div class="col-md-6">
                    <h5>Hỗ trợ nhiệt tình</h5>
                    <p>
                        Tất cả các phần mềm cũng như là thiết kế outsource của chúng tôi làm ra, đều sẽ có đội ngũ hỗ trợ tích cực cho bạn, bất kể là kinh doanh cá nhân hay doanh nghiệp, chúng tôi vẫn sẽ hết mình vì các bạn.
                    </p>
                </div>
            </div>*@
    </div>

