﻿@model WebShowProduct_TDTC.Models.HomeQuestion

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/admin2/Views/Shared/_MyAdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>HomeQuestion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Question)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Question)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
