﻿@model WebShowProduct_TDTC.Models.HomeQuestion

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/admin2/Views/Shared/_MyAdminLayout.cshtml";
}


<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h2>Chỉnh sửa câu hỏi</h2>
            </div>
            <div class="card-body">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                       
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.Id)

                        <div class="form-group  row">
                            @Html.Label("Câu hỏi", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Question, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Question, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-offset-2 col-md-10">
                                @Html.ActionLink("Trở về", "Index", "", htmlAttributes: new { data_modal = "", @class = "btn btn-success" })
                                <input type="submit" value="Lưu" class="btn btn-warning" />
                            </div>
                        </div>
                    </div>
                }

                <div>
                   
                </div>
            </div>
        </div>
    </div>
</div>