﻿@model IEnumerable<WebShowProduct_TDTC.Models.HomeQuestion>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/admin2/Views/Shared/_MyAdminLayout.cshtml";
}

@*<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Question)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Question)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>*@
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                Câu hỏi
            </div>
            <div class="card-body">
                <table class="table table-borded table-hover table-sm">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayName("Câu hỏi")
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                      
                        @foreach (var item in Model)
                        {
                            <tr>
                                <th>
                                    @Html.DisplayFor(modelItem => item.Question)
                                </th>

                                <td>
                                    <div class="btn-group" role="group">
                                        @Html.ActionLink("Chỉnh sửa", "Edit", new { id = item.Id }, htmlAttributes: new { data_modal = "", @class = "btn btn-warning" })
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
