﻿@model IEnumerable<WebShowProduct_TDTC.Models.NewsPersonel>

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/admin2/Views/Shared/_MyAdminLayout.cshtml";
}

<!DOCTYPE html>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h1>NHÂN SỰ</h1>
            </div>
            <div class="card-body">
                <table class="table table-bordered table-hover table-sm">

                    <tbody>
                        @*<p>
                                @Html.ActionLink("Create New", "Create")
                            </p>*@
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Name)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Description)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Image)
                                </th>
                                <th></th>
                            </tr>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Description)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Image)
                                    </td>
                                    <td>
                                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }, htmlAttributes: new { data_modal = "", @class = "btn btn-warning" })
                                        @Html.ActionLink("Details", "Details", new { id = item.Id }, htmlAttributes: new { data_modal = "", @class = "btn btn-primary" })
                                        @*@Html.ActionLink("Delete", "Delete", new { id=item.Id })*@
                                    </td>
                                </tr>
                            }


                    </tbody>

                </table>
            </div>
        </div>
    </div>
</div>
