﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Thông tin phản hồi từ khách hàng : {{CustomerName}} </title>
</head>
<body>
    Tên Khách Hàng : {{CustomerName}} <br>
    Điện thoại  {{Phone}} <br>
    Email : {{Email}} <br>
    Chi tiết phản hồi : {{Detail}} <br>

</body>
</html>