﻿@model WebShowProduct_TDTC.Models.product

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<div class="row">
    @*<div class="col-md-4">
        <img src="~/Content/images/Product/@Model.Images" class="img-responsive" />
    </div>
    <div class="col-md-8">
        <div class="dl-Name">
            @Model.Name
        </div><br />
        <div class="dl-Description">
            @Model.Detail
        </div><br />
        <div class="dl-Price ">
            @Html.Label("Giá:")
            @Model.Price

        </div><br />
    </div>
    <div class="col-md-4 btn-group-sm">
        <a href="#" class="btn btn-primary btn-sm disabled" tabindex="-1" role="button" aria-disabled="true">Dùng thử</a>
        <a href="#" class="btn btn-danger btn-sm disabled" tabindex="-1" role="button" aria-disabled="true">Nhận tư vấn</a>
        <a href="#" class="btn btn-secondary btn-sm disabled" tabindex="-1" role="button" aria-disabled="true">Mua ngay</a>
    </div>*@

    <div class="card mb-3 box-content">
        <div class="row no-gutters">
            <div class="col-md-4">
               <center><img src="~/Content/images/Product/@Model.Images" class="img-fluid rounded-circle" alt="" style="width:50%;padding-top:25%;padding-bottom:25%;"/></center> 
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">@Model.Name</h5>
                    <p class="card-text">@Html.Raw(HttpUtility.HtmlDecode(@Model.Detail))</p>
                    <p class="card-text">
                        <small>
                            @Html.Label("Giá:")@Model.Price
                        </small>
                    </p>
                    <div class="btn-group-sm">
                        <a href="#" class="btn btn-primary btn-sm disabled" tabindex="-1" role="button" aria-disabled="true">Dùng thử</a>
                        <a href="#" class="btn btn-danger btn-sm disabled" tabindex="-1" role="button" aria-disabled="true">Nhận tư vấn</a>
                        <a href="#" class="btn btn-secondary btn-sm disabled" tabindex="-1" role="button" aria-disabled="true">Mua ngay</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
