﻿@{
    ViewBag.Title = "ListProduct";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}
<div class="container">
    <h3>@Model.Name</h3>
    <div class="row">      
            @Html.Action("getProduct", "Default", new { id = Model.Id, metatitle = @Model.Meta })
    </div>
</div>


<a href="~/Views/Default/Contact.cshtml">~/Views/Default/Contact.cshtml</a>