﻿@model IEnumerable<WebShowProduct_TDTC.Models.NewsIntroductionTop>

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/admin2/Views/Shared/_MyAdminLayout.cshtml";
}

<!DOCTYPE html>


<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>


<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h1>GIỚI THIỆU SƠ LƯỢC</h1>
            </div>
            <div class="card-body">
                <table class="table table-bordered table-hover table-sm">

                    <tbody>

                        @*<p>
                                @Html.ActionLink("Create New", "Create")
                            </p>*@

                        <tr>
                            @*<th>
                                    @Html.DisplayNameFor(model => model.Name)
                                </th>*@
                            <th>
                                @Html.DisplayNameFor(model => model.Description)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Detail)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Image)
                            </th>
                            <th></th>
                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>
                                @*<td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>*@
                                <td>
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>
                                <td>
                                    @Html.Raw(HttpUtility.HtmlDecode(item.Detail))
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Image)
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }, htmlAttributes: new { data_modal = "", @class = "btn btn-warning" })
                                    @Html.ActionLink("Details", "Details", new { id = item.Id }, htmlAttributes: new { data_modal = "", @class = "btn btn-primary" })
                                    @*@Html.ActionLink("Delete", "Delete", new { id=item.Id })*@
                                </td>
                            </tr>
                        }


           </tbody>

                </table>
            </div>
        </div>
    </div>
</div>
