﻿@model WebShowProduct_TDTC.Models.category

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/admin2/Views/Shared/_MyAdminLayout.cshtml";
}


<div class="card">
    <div class="card-header">
        <h2>Xóa</h2>
    </div>
    <div class="card-body">
        <h3>Bạn có chắc chắn muốn xóa?</h3>
        <hr />
        <div>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Tittle)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Tittle)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Description)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Description)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Images)
                </dt>

                <dd>
                    <img src="~/Content/images/category/@Html.DisplayFor(model => model.Images)" style="width:100px" />
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Meta)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Meta)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Hide)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Hide)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Order)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Order)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.DateBegin)
                </dt>

                <dd>
                    @(Model.DateBegin.HasValue ? Model.DateBegin.Value.ToString("dd/MM/yyyy") : "")
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @Html.ActionLink("Back to List", "Index", "", htmlAttributes: new { data_modal = "", @class = "btn btn-primary" })
            <input type="submit" value="Delete" class="btn btn-danger" />
        </div>
            }
        </div>
    </div>
    </div>
            
            
