﻿@model WebShowProduct_TDTC.Models.category

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/admin2/Views/Shared/_MyAdminLayout.cshtml";
}

<div class="card">
    <div class="card-header">
        <h2>Chi tiết sản phẩm</h2>
    </div>
    <div class="card-body">
        <div>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Tittle)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Tittle)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Description)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Description)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Images)
                </dt>

                <dd>
                    <img src="~/Content/images/Category/@Html.DisplayFor(model => model.Images)" style="width:100px" />
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Meta)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Meta)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Hide)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Hide)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Order)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Order)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.DateBegin)
                </dt>

                <dd>
                    @(Model.DateBegin.HasValue ? Model.DateBegin.Value.ToString("dd/MM/yyyy") : "")
                </dd>

            </dl>
        </div>
    </div>
</div>


<p>
    @Html.ActionLink("Quay trở lại", "Index", "", htmlAttributes: new { data_modal = "", @class = "btn btn-success" })
    @Html.ActionLink("Sửa", "Edit", new { id = Model.Id }, htmlAttributes: new { data_modal = "", @class = "btn btn-danger" })
</p>
