﻿@model IEnumerable<WebShowProduct_TDTC.Models.category>

@{
    ViewBag.Title = "GetAboutCategory";
    Layout = "~/Areas/admin2/Views/Shared/_MyAdminLayout.cshtml";
}


<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                Giới thiệu sản phẩm
            </div>
            <div class="card-body">
                <table class="table table-borded table-hover table-sm">
                    <thead>
                        <tr>
                            <th>
                                STT
                            </th>
                          
                            <th>
                                @Html.DisplayName("Tiêu đề")
                            </th>
                            <th>
                                @Html.DisplayName("Hình ảnh")
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @{var Number = 1; }
                        @foreach (var item in Model)
                        {
                            <tr>
                                <th scope="row">
                                    @Html.Raw(Number++)
                                </th>
                               
                                <td>
                                    @Html.DisplayFor(modelItem => item.Tittle)
                                </td>
                                <td>
                                    <img src="~/Content/images/category/@item.Images" style="width:60px" />
                                </td>
                                
                                <td>
                                    <div class="btn-group" role="group">
                                        @Html.ActionLink("Sửa", "EditAboutCategory", new { id = item.Id }, htmlAttributes: new { data_modal = "", @class = "btn btn-warning" })
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>