﻿@model IEnumerable<WebShowProduct_TDTC.Models.category>
@using WebShowProduct_TDTC.Help
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/admin2/Views/Shared/_MyAdminLayout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h2>Danh mục loại sản phẩm</h2>
            </div>
            <div class="card-body">
                <div class="bs-example" style="text-align:right; padding-bottom:10px;">
                    <div class="btn-group">

                        @Html.NoEncodeActionLink("<span data-feather='plus'></span> Thêm mới", "Create", "Create", "category", routeValues: new { }, htmlAttributes: new { @class = "btn btn-primary" })
                    </div>
                </div>
                <table class="table table-borded table-hover table-sm">
                    <thead>
                        <tr>
                            <th>
                                STT
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Tittle)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Images)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Meta)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Hide)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Order)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.DateBegin)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @{var Number = 1; }
                        @foreach (var item in Model)
                        {
                            <tr>
                                <th scope="row">
                                    @Html.Raw(Number++)
                                </th>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Tittle)
                                </td>
                                <td>
                                    <img src="~/Content/images/category/@item.Images" style="width:60px" />
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Meta)
                                </td>
                                <td>
                                    @(item.Hide.GetValueOrDefault(false) ? "Hiển thị" : "Ẩn")
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Order)
                                </td>
                                <td>
                                    @(item.DateBegin.HasValue ? item.DateBegin.Value.ToString("dd/MM/yyyy") : "")
                                </td>
                                <td>
                                    <div class="btn-group" role="group">
                                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }, htmlAttributes: new { data_modal = "", @class = "btn btn-warning" })
                                        @Html.ActionLink("Details", "Details", new { id = item.Id }, htmlAttributes: new { data_modal = "", @class = "btn btn-primary" })
                                        @Html.ActionLink("Delete", "Delete", new { id = item.Id }, htmlAttributes: new { data_modal = "", @class = "btn btn-danger" })
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>