﻿@model IEnumerable<WebShowProduct_TDTC.Models.Contactindex>
@using WebShowProduct_TDTC.Help
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<h2>Index</h2>

<p>
    <div class="btn-group">
        @Html.NoEncodeActionLink("<span class='bi-plus-circle'></span> Thêm mới", "Create", "Create", "product", routeValues: new { }, htmlAttributes: new { @class = "btn btn-primary" })
    </div>
</p>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h1>SỐ LIỆU THỐNG KÊ</h1>
            </div>
            <div class="card-body">
                <table class="table table-bordered table-hover table-sm">

                    <tbody>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.NameChinhanh)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.DiaChi)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.SDT)
                            </th>
                            <th></th>
                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NameChinhanh)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DiaChi)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SDT)
                                </td>
                                <td>
                                    <div class="btn-group" role="group">
                                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }, htmlAttributes: new { data_modal = "", @class = "btn btn-warning" })
                                        @Html.ActionLink("Details", "Details", new { id = item.Id }, htmlAttributes: new { data_modal = "", @class = "btn btn-primary" })
                                        @Html.ActionLink("Delete", "Delete", new { id = item.Id }, htmlAttributes: new { data_modal = "", @class = "btn btn-danger" })
                                    </div>
                                </td>
                            </tr>
                        }


                    </tbody>

                </table>
            </div>
        </div>
    </div>
</div>
