﻿@model WebShowProduct_TDTC.Models.news

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}


<style>
    h2 {
        text-align: justify;
    }
    p {
        color: black !important;
        text-align: justify;
    }
</style>
<h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Chi tiết tin tức</h2>

<!--Phần tin tức-->
<div class="text-superbox">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h4>@Model.Name</h4>
                <span class="a">Lần cập nhật cuối : @Model.DateBegin</span></br>
                <img src="~/Content/images/@Model.Image" width="100%">
                @Model.Description

                <p class="card-text">@Html.Raw(HttpUtility.HtmlDecode(@Model.Detail))</p>
            </div>
            <div class="col-md-4">
                <h5>Xem nhiều</h5>
                <ul>

                    @{Html.RenderAction("getDetailNews", "Default");}


                    @*<li>
                            <a href="#">Tiệc ăn mừng công ty KLD thành lập chi nhánh Đà Nẵng</a>
                            <img src="./img/2.jpg" width="100%">
                        </li>
                        <li>
                            <a href="#">Doanh số công ty quý 1 2021 tăng cao kỷ lục</a>
                            <img src="./img/1.jpg" width="100%">
                        </li>
                        <li>
                            <a href="#">Việt Nam bí mật phát triển vũ khí nguyên tử cùng công ty KLD</a>
                            <img src="./img/4.jpg" width="100%">
                        </li>
                        <li>
                            <a href="#">Tiệc ăn mừng công ty KLD thành lập chi nhánh Hà Nội</a>
                            <img src="./img/3.jpg" width="100%">
                        </li>
                        <li>
                            <a href="#">Việt Nam tiến hành thống nhất Lào và Campuchia, thành lập Đế Quốc Việt Nam</a>
                            <img src="./img/5.jpg" width="100%">
                        </li>*@

                </ul>
            </div>
        </div>
    </div>
</div>
