﻿
@model  WebShowProduct_TDTC.Areas.admin2.Models.LoginModel

@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.80.0">
    <title>Signin Template · Bootstrap v4.6</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.6/examples/sign-in/">



    <!-- Bootstrap core CSS -->

    @*<link href="~/Areas/admin2/Data/bootstrap.min.css" rel="stylesheet" />*@
    <link href="~/Areas/admin2/Data/assetsAdmin/dist/css/bootstrap.min.css" rel="stylesheet" />

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @@media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>


    <!-- Custom styles for this template -->
    <link href="~/Areas/admin2/Data/loginAdmin/signin.css" rel="stylesheet" />

</head>
<body class="text-center">
    <div class="form-signin">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, null, new { @class = "alert alert-danger" })

            <img class="mb-4" src="~/Content/images/LOgo-removebg-preview.png" alt="" width="72" height="72">
            <h1 class="h4 mb-3 font-weight-normal">ĐĂNG NHẬP HỆ THỐNG</h1>
            <label for="inputEmail" class="sr-only">Tên đăng nhập</label>
            @Html.TextBoxFor(model => model.userName, new { @class = "form-control ", type = "text", @id = "inputEmail", @placeholder = "userName", @autofocus = "autofocus" })
            @*<input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>*@
            <label for="inputPassword" class="sr-only">Mật khẩu</label>
            @Html.TextBoxFor(model => model.Password, new { @class = "form-control ", @id = "inputPassword", @placeholder = "Password", @type = "password" })
            @*<input type="password" id="inputPassword" class="form-control" placeholder="Password" required>*@
            <div class="checkbox mb-3">
                <label>
                    @Html.CheckBoxFor(model => model.RememberMe) Ghi nhớ đăng nhập
                    @*<input type="checkbox" value="remember-me"> Ghi nhớ đăng nhập*@
                </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            <p class="mt-5 mb-3 text-muted">&copy; 2017-2021</p>
        }
    </div>
</body>
</html>
