﻿@model WebShowProduct_TDTC.Models.menu

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/admin2/Views/Shared/_MyAdminLayout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h2>Xóa menu</h2>
            </div>
            <div class="card-body">
                <h3>Are you sure you want to delete this?</h3>
                <div>
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.Name)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Name)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Meta)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Meta)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Hide)
                        </dt>

                        <dd>
                            @{
                                bool hide = (Model.Hide.GetValueOrDefault(false) ? true : false);
                            }
                            @Html.DisplayFor(model => hide)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Order)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Order)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.DateBegin)
                        </dt>

                        <dd>
                            @(Model.DateBegin.HasValue ? Model.DateBegin.Value.ToString("dd/MM/yyyy") : "")
                        </dd>

                    </dl>

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    @Html.ActionLink("Quay trở lại", "Index", "", htmlAttributes: new { data_modal = "", @class = "btn btn-success" })
                    <input type="submit" value="Xóa" class="btn btn-danger" />
                </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>




