﻿@model IEnumerable<WebShowProduct_TDTC.Models.menu>
@using WebShowProduct_TDTC.Help
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/admin2/Views/Shared/_MyAdminLayout.cshtml";
}


<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h2>Danh mục menu</h2>
            </div>
            <div class="card-body">
                <div class="bs-example" style="text-align:right; padding-bottom:10px;">
               
                    <div class="btn-group">

                        @Html.NoEncodeActionLink("<span data-feather='plus'></span> Thêm mới", "Create", "Create", "menu", routeValues: new { }, htmlAttributes: new { @class = "btn btn-primary" })
                    </div>
                </div>
                <table class="table table-bordered table-hover table-sm ">
                    <thead>
                        <tr>
                            <th scope="col">STT</th>
                            <th scope="col">@Html.DisplayName("Tên")</th>
                            <th scope="col">@Html.DisplayName("Thẻ")</th>
                            <th scope="col">@Html.DisplayName("Hiển thị")</th>
                            <th scope="col">@Html.DisplayName("Vị trí")</th>
                            <th scope="col">@Html.DisplayName("Ngày")</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @{var Number = 1; }
                        @foreach (var item in Model)
                        {
                            <tr>
                                <th scope="row">
                                    @Html.Raw(Number++)
                                </th>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Meta)
                                </td>
                                <td>
                                    @(item.Hide.GetValueOrDefault(false) ? "Hiển thị" : "Ẩn")
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Order)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DateBegin)
                                </td>
                                <td>
                                    <div @*class="btn-group" role="group"*@>
                                        @Html.NoEncodeActionLink("<span data-feather='edit-3'></span>", "Edit", "Edit", "menu", new { id = item.Id }, htmlAttributes: new { data_modal = "", @class = "btn btn-warning" })
                                        @Html.NoEncodeActionLink("<span data-feather='zoom-in'></span>", "Details", "Details", "menu", new { id = item.Id }, htmlAttributes: new { data_modal = "", @class = "btn btn-primary" })
                                        @Html.NoEncodeActionLink("<span data-feather='trash-2'></span>", "Delete", "Delete", "menu", new { id = item.Id }, htmlAttributes: new { data_modal = "", @class = "btn btn-danger" })
                                    </div>
                                </td>
                            </tr>

                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@*<h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Meta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hide)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateBegin)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Meta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hide)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Order)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateBegin)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Id })
            </td>
        </tr>
    }

    </table>*@

