﻿@model WebShowProduct_TDTC.Models.product
@using WebShowProduct_TDTC.Help
@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/admin2/Views/Shared/_MyAdminLayout.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h2>XÓA SẢN PHẨM</h2>
                </div>
                <div class="card-body">


                    <div class="contaier">
                        <div class="row">
                            @Html.NoEncodeActionLink("<span aria-hidden='true'><i class='bi bi-arrow-left-circle'></i></span>", "Quay trở lại", "Index", "product", htmlAttributes: new { data_modal = "", @class = "btn btn-default btn-lg" })

                        </div>
                        <h3>Bạn có chắc chắn muốn xóa?</h3>
                        <hr />
                        <dl class="row">

                            <dt class="col-md-2">
                                @Html.DisplayName("Tên")
                            </dt>

                            <dd class="col-md-4">
                                @Html.DisplayFor(model => model.Name)
                            </dd>

                            <dt class="col-md-2">
                                @Html.DisplayName("Tên phụ")
                            </dt>

                            <dd class="col-md-4">
                                @Html.DisplayFor(model => model.Subname)
                            </dd>

                            <dt class="col-md-2">
                                @Html.DisplayName("Giá")
                            </dt>

                            <dd class="col-md-4">
                                @Html.DisplayFor(model => model.Price)
                            </dd>

                            <dt class="col-md-2">
                                @Html.DisplayName("Hình ảnh")
                            </dt>

                            <dd class="col-md-4">
                                <img src="~/Content/images/product/@Html.DisplayFor(model => model.Images)" style="width:100px" />
                            </dd>

                            <dt class="col-md-2">
                                @Html.DisplayName("Mô tả")
                            </dt>

                            <dd class="col-md-10">
                                @Html.DisplayFor(model => model.Description)
                            </dd>

                            <dt class="col-md-2">
                                @Html.DisplayName("Thẻ")
                            </dt>

                            <dd class="col-md-4">
                                @Html.DisplayFor(model => model.Meta)
                            </dd>

                            <dt class="col-md-2">
                                @Html.DisplayName("Hiển thị")
                            </dt>

                            <dd class="col-md-4">
                                @{
                                    bool hide = (Model.Hide.GetValueOrDefault(false) ? true : false);
                                }
                                @Html.DisplayFor(model => hide)
                            </dd>

                            <dt class="col-md-2">
                                @Html.DisplayName("Vị trí")
                            </dt>

                            <dd class="col-md-4">
                                @Html.DisplayFor(model => model.Order)
                            </dd>

                            <dt class="col-md-2">
                                @Html.DisplayName("Ngày")
                            </dt>

                            <dd class="col-md-4">
                                @(Model.DateBegin.HasValue ? Model.DateBegin.Value.ToString("dd/MM/yyyy") : "")
                            </dd>

                            <dt class="col-md-2">
                                @Html.DisplayName("Loại sản phẩm")
                            </dt>

                            <dd class="col-md-4">
                                @Html.DisplayFor(model => model.CategoryId)
                            </dd>

                        </dl>

                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-actions no-color">

                                <div class="offset-11">
                                    <input type="submit" value="Xóa" class="btn btn-danger" />
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>



        </div>
    </div>
</div>

