﻿@model IEnumerable<WebShowProduct_TDTC.Models.product>
@using WebShowProduct_TDTC.Help


<table class="table table-bordered table-hover table-sm text-center">
    <thead>
        <tr>
            <th scope="col">
                STT
            </th>
            <th>
                @Html.DisplayName("Tên")
            </th>
            <th scope="col">
                @Html.DisplayName("Giá")
            </th>
            <th scope="col">
                @Html.DisplayName("Hình ảnh")
            </th>
            <th scope="col">
                @Html.DisplayName("Hiển thị")
            </th>
            <th scope="col">
                @Html.DisplayName("Vị trí")
            </th>
            @*<th>
                    @Html.DisplayName("Ngày")
                </th>*@

            <th></th>
        </tr>
    </thead>
    <tbody>
        @{var Number = 1; }
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">
                    @Html.Raw(Number++)
                </th>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    <img src="~/Content/images/product/@item.Images" style="width:60px" />
                </td>
                <td>
                    @(item.Hide.GetValueOrDefault(false) ? "Hiển thị" : "Ẩn")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Order)
                </td>
                <!--<td>-->
                @*@Html.DisplayFor(modelItem => item.DateBegin)*@
                <!--@(item.DateBegin.HasValue ? item.DateBegin.Value.ToString("dd/MM/yyyy") : "")
                </td>-->

            <td>
                <div class=" btn-block">
                    @Html.NoEncodeActionLink("<span aria-hidden='true'><i class='bi bi-pen'></i></span>", "Sửa", "Edit", "product", new { id = item.Id }, htmlAttributes: new { data_modal = "", @class = "btn btn-warning" })
                    @Html.NoEncodeActionLink("<span aria-hidden='true'><i class='bi bi-zoom-in'></i></span>", "Chi tiết", "Details", "product", new { id = item.Id }, htmlAttributes: new { data_modal = "", @class = "btn btn-primary" })
                    @Html.NoEncodeActionLink("<span aria-hidden='true'><i class='bi bi-trash'></i></span>", "Xóa", "Delete", "product", new { id = item.Id }, htmlAttributes: new { data_modal = "", @class = "btn btn-danger" })
                </div>
              
            </td>
            </tr>
        }
    </tbody>
</table>

