﻿@using WebShowProduct_TDTC.Help
@model WebShowProduct_TDTC.Models.category

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/admin2/Views/Shared/_MyAdminLayout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h2>DANH MỤC SẢN PHẨM</h2>
            </div>
            <div class="card-body">
                <div class="bs-example" style="text-align:right; padding-bottom:10px;">
                    <div class="btn-group">
                        @Html.DropDownListFor(model => model.Id, (SelectList)ViewBag.Category, " --- Tất cả sản phẩm --- ",
                                                                        new { @class = "form-control", @id = "Category" })
                    </div>
                    <div class="btn-group">

                        @Html.NoEncodeActionLink("<span data-feather='plus'></span> Thêm mới", "Create", "Create", "product", routeValues: new { }, htmlAttributes: new { @class = "btn btn-primary" })
                    </div>
                </div>
                <div class="table-responsive">
                    <div id="getProduct"></div>
                </div>
            </div>
        </div>
    </div>
</div>
@section _Footer
{

    <script>
        $(document).ready(function () {
            function getProduct() {
                var CategoryId = $('#Category').val();
                $.ajax({
                    url: '@Url.Action("getProduct", "product")',
                    type: "GET",
                    data: { id: CategoryId },
                    success: function (data) {
                        $("#getProduct").html(data);
                    },
                    error: function (data) {
                        alert("something went wrong.");
                    }
                });
            }
            getProduct();
            $("#Category").change(function () {
                getProduct();
            })
        });
    </script>
}




